# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  test:
    docker:
      - image: circleci/openjdk:8-jdk

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m
    
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
          
      # The API keys are not tracked in git, write them from environment variables
      - run: echo $VERGE_IDS_JAVA > src/main/java/com/serverless/Ids.java

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run: mvn integration-test
      
      - store_test_results:
           path: target/surefire-reports/
           

  deploy:
    docker:
      - image: kdvolder/mvn-plus-npm
      

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m
    
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
          
      # The API keys are not tracked in git, write them from environment variables
      - run: echo $VERGE_IDS_JAVA > src/main/java/com/serverless/Ids.java

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run: npm install -g serverless
      - run: mvn clean
      - run: mvn compile
      - run: mvn package
      - run: serverless deploy
      
      - store_test_results:
           path: target/surefire-reports/

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only:
                - tyler/add-circle-ci


