name: Build and Deploy to Google Cloud Run

on:
  push:
    branches:
    - master
    - develop

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Build project
      run: mvn package
    
    - name: Authenticate gcloud service account
      run: |
        gcloud config set project vergetaglines
        gcloud config set account githubactions@vergetaglines.iam.gserviceaccount.com
        echo ${{ secrets.GCLOUD_AUTH }} | base64 --decode > gcloud.json
        gcloud auth activate-service-account --key-file=gcloud.json --project=vergetaglines
    - name: Submit build to Google Cloud
      run: gcloud builds submit --tag gcr.io/vergetaglines/vergetaglines

    - name: Deploy to Google Cloud Run  
      run: gcloud beta run deploy vergetaglines --image gcr.io/vergetaglines/vergetaglines --platform managed --allow-unauthenticated --region us-east1
